services:

  user-service:
    build: ./src/UserService
    container_name: powerport-user-service
    ports:
      - "5001:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    networks:
      - powerport

  station-management-service:
    build: ./src/StationManagementService
    container_name: powerport-station-management-service
    ports:
      - "5002:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    networks:
      - powerport

  billing-service:
    build: ./src/BillingService
    container_name: powerport-billing-service
    ports:
      - "5003:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    networks:
      - powerport

  provider-service:
    build: ./src/ProviderService
    container_name: powerport-provider-service
    ports:
      - "5004:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    networks:
      - powerport

  data-tracking-service:
    build: ./src/DataTrackingService
    container_name: powerport-data-tracking-service
    ports:
      - "5005:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    networks:
      - powerport

  reviews-service:
    build: ./src/ReviewsService
    container_name: powerport-reviews-service
    ports:
      - "5006:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    networks:
      - powerport

  # frontend:
  #   build: ./frontend/web
  #   container_name: frontend
  #   ports:
  #     - "3000:80"
  #   networks:
  #     - powerport

  kafka:
    image: bitnami/kafka:latest
    ports:
      - "9092:9092"
    environment:
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092

networks:
  powerport:
    driver: bridge
