services:

  user-service:
    build: ../powerport-user-service
    container_name: powerport-user-service
    ports:
      - "5001:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Kafka__BootstrapServers: kafka:9092
    depends_on:
      kafka:
        condition: service_healthy
      postgres-db:
        condition: service_healthy
      keycloak:
        condition: service_healthy
    networks:
      - powerport

  # ==================================================
  #           Station Management Service
  # ==================================================
  station-management-service:
    build: ../powerport-station-service
    container_name: powerport-station-management-service
    ports:
      - "5002:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Kafka__BootstrapServers: kafka:9092
    depends_on:
      kafka:
        condition: service_healthy
      postgres-db:
        condition: service_healthy
    networks:
      - powerport


  # ==================================================
  #               Billing Service
  # ==================================================
  billing-service:
    build: ../powerport-billing-service/src/BillingService
    container_name: powerport-billing-service
    ports:
      - "5003:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Kafka__BootstrapServers: kafka:9092
    depends_on:
      kafka:
        condition: service_healthy
      postgres-db:
        condition: service_started
    networks:
      - powerport
    restart: unless-stopped

 # ==================================================
 #               Provider Service
 # ==================================================
  provider-service:
    build: ../powerport-provider-service
    container_name: powerport-provider-service
    ports:
      - "5004:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Kafka__BootstrapServers: kafka:9092
    depends_on:
      kafka:
        condition: service_healthy
      postgres-db:
        condition: service_healthy
    networks:
      - powerport

  # ==================================================
  #           Data Tracking Service
  # ==================================================
  data-tracking-service:
    build: ../powerport-data-tracking-service/src/DataTrackingService
    container_name: powerport-data-tracking-service
    ports:
      - "5005:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Kafka__BootstrapServers: kafka:9092
    depends_on:
      kafka:
        condition: service_healthy
      mongo:
        condition: service_healthy
    networks:
      - powerport
    restart: unless-stopped

  # ==================================================
  #               Reviews Service
  # ==================================================
  reviews-service:
    build: ../powerport-reviews-service
    container_name: powerport-reviews-service
    ports:
      - "5006:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Kafka__BootstrapServers: kafka:9092
    depends_on:
      kafka:
        condition: service_healthy
      postgres-db:
        condition: service_healthy
    networks:
      - powerport

  # frontend:
  #   build: ./frontend/web
  #   container_name: frontend
  #   ports:
  #     - "3000:80"
  #   networks:
  #     - powerport

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    hostname: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "kafka:9092", "--list"]
      interval: 10s
      timeout: 5s
      retries: 10
    depends_on:
      - zookeeper
    networks:
      - powerport

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    networks:
      - powerport


  postgres-db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secretpassword
      POSTGRES_DB: postgresdb
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init-tenants.sql:/docker-entrypoint-initdb.d/init-tenants.sql
    networks:
      - powerport
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h postgres-db -p 5432 -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: unless-stopped

      
  mongo:
    image: mongo:7.0
    container_name: mongo
    environment:
      MONGO_INITDB_DATABASE: datatracking
      MONGO_INITDB_ROOT_USERNAME: admin          
      MONGO_INITDB_ROOT_PASSWORD: secretpassword  
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
      - ./init-tenants.js:/docker-entrypoint-initdb.d/init-tenatns.js:ro
    networks:
      - powerport
    healthcheck:
      test:
        [
          "CMD",
          "mongosh",
          "--quiet",
          "mongo/test",
          "--eval",
          "'quit(db.runCommand({ ping: 1 }).ok ? 0 : 2)'",
        ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s

  mongo-express:
    image: mongo-express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin        
      ME_CONFIG_MONGODB_ADMINPASSWORD: secretpassword  
    networks:
      - powerport
    depends_on:
      mongo:
        condition: service_healthy
    restart: unless-stopped

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    container_name: keycloak
    command: start-dev --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres-db:5432/keycloak_db
      KC_DB_USERNAME: keycloak_user
      KC_DB_PASSWORD: secretpassword
    ports:
      - "8180:8080"
    volumes:
      - ./powerport-realm.json:/opt/keycloak/data/import/powerport-realm.json:ro
    depends_on:
      postgres-db:
        condition: service_healthy
    networks:
      - powerport
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "exec 3<>/dev/tcp/127.0.0.1/8080;echo -e 'GET /health/ready HTTP/1.1\r\nhost: localhost\r\nConnection: close\r\n\r\n' >&3;if [ $? -eq 0 ]; then echo 'Healthcheck Successful';exit 0;else echo 'Healthcheck Failed';exit 1;fi;"]
      interval: 10s
      timeout: 5s
      retries: 15
      start_period: 60s

volumes:
  postgres-data:
  mongo-data:


networks:
  powerport:
    driver: bridge
