replicaCount: 1

image:
  repository: powerportacr.azurecr.io/user-service
  tag: "latest"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

containerPort: 8080

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "500m"

# Full appsettings.json as raw string
appsettingsJson: |
  {
    "Kafka": {
      "BootstrapServers": "kafka:9092",
      "ProducerName": "users-service",
      "UserServiceTopic": "user.events"
    },
    "Keycloak": {
      "BaseUrl": "http://keycloak:8080",
      "AdminRealm": "master",
      "Realm": "powerport",
      "AdminClientId": "admin-cli",
      "AdminUsername": "admin",
      "AdminPassword": "admin",
      "ProviderRoleName": "Provider",
      "ProviderIdAttributeName": "provider_id",
      "TenantIdAttributeName": "tenant_id",
      "UserRole": "User",
      "DefaultTenantId": "11111111-1111-1111-1111-111111111111",
      "ForcePasswordUpdateOnFirstLogin": true,
      "RequireEmailVerified": false
    },
    "Provisioning": {
      "ProviderAdminUsernameSuffix": "-admin",
      "ProviderAdminEmailDomain": "local.test",
      "TemporaryPasswordLength": 16
    },
    "Logging": {
      "LogLevel": {
        "Default": "Information",
        "Microsoft.AspNetCore": "Warning"
      }
    },
    "AllowedHosts": "*"
  }

